#set($subject = "$device.name: has passed a Cash Toll Booth")
$device.name has passed through the cash toll booth $event.attributes.tollName at $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)
