#set($subject = "$device.name: Speed Camera Alert")
#set($limitKnots = $event.attributes.speedLimit)
#if($speedUnit == 'kmh')
#set($speedString = $numberTool.format("0.0 km/h", $position.speed * 1.852))
#if($limitKnots)#set($limitString = $numberTool.format("0.0 km/h", $limitKnots * 1.852))#end
#elseif($speedUnit == 'mph')
#set($speedString = $numberTool.format("0.0 mph", $position.speed * 1.15078))
#if($limitKnots)#set($limitString = $numberTool.format("0.0 mph", $limitKnots * 1.15078))#end
#else
#set($speedString = $numberTool.format("0.0 kn", $position.speed))
#if($limitKnots)#set($limitString = $numberTool.format("0.0 kn", $limitKnots))#end
#end
$device.name passed a known speed camera at $speedString#{if}($limitString) (limit $limitString)#{end} at $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)
