[database]
host = localhost
port = 3306
name = traccar
user = root
password = root123

[spaces]
bucket = your-do-spaces-bucket
# Path to your s3cmd config file. Defaults to ~/.s3cfg if not set.
s3cmd_config = ~/.s3cfg
# Temp directory for parquet files before upload
temp_dir = F:\RidesIQ\parquet
# For testing: if this is set, files will be copied here instead of uploaded via s3cmd
local_upload_dir = F:\RidesIQ\upload_parquet

[archive]
# Number of months back to retain data in primary DB. Data older than this is archived.
retention_months = 6
