[database]
host = localhost
port = 3306
name = traccar
user = root
password = root123

[spaces]
bucket = iotrides
# Path to your s3cmd config file.
% s3cmd_config = ~/do-tor1.s3cfg
s3cmd_config = C:\Users\parid\.s3cfg
# Temp directory for parquet files before upload
temp_dir = /f/RidesIQ/parquet


[archive]
# Number of months back to retain data in primary DB. Data older than this is archived.
retention_months = 6
